.b-back {
    position: relative;
    font-size: 0px;
    overflow: hidden;
    height: 100vh;
}

.b-back__item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    transition: width .2 ease-out;
}

.b-back__img--white {
    background-image: url("../images/inhtml/bg_desktop/bg_choice_1.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%, auto auto;
}

.b-back__img--black {
    background-image: url("../images/inhtml/bg_desktop/bg_choice_2.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%, auto auto;
}